{% extends "base.html" %}

{%block content%}
<div class="wrapper">
    <section class="content">
        <h2><i class="ico projects"></i>Team Members</h2>
        <div class="grey-box-wrap reports">
            <a href="{% url 'members:create_new_member' %}" class="link new-member-popup">Create new member</a>            
        </div>
        <div class="new-member-wrap">
            <div id="new-member" class="new-member-inner">
                <h2>Create new member</h2>
                <ul class="form">
                    <li>
                        <label>Project name:</label>
                        <input type="text" class="in-text" />
                    </li>								
                    <li>
                        <label>Description:</label>
                        <input type="text" class="in-text" />
                    </li>
                    <li>
                        <label>Customer:</label>
                        <input type="text" class="in-text" />
                    </li>
                    <li>
                        <label>Lead:</label>
                        <input type="text" class="in-text" />
                    </li>
                </ul>
                <div class="buttons">
                    <div class="inner">
                        <a href="javascript:;" class="btn green">Save</a>
                    </div>
                </div>
            </div>
        </div>
        {% for member, form in members_data %}
            <div class="accordion-wrap clients">
                <div class="item" onclick="openProject(this)">
                    <div class="heading">
                        <span>{{member}}</span>
                        <i>+</i>
                    </div>
                    <div class="details">
                        <form name="form" method="POST" action="{% url 'members:members' %}">
                            {% csrf_token %}
                            <ul class="form">
                                <li>
                                    <label>Member name:</label>
                                    {{form.member_name}}
                                </li>
                                <li>
                                    <label>Hours per week:</label>
                                    {{form.hours_per_week}}
                                </li>
                            </ul>
                            <ul class="form">
                                <li>
                                    <label>Username:</label>
                                    {{form.username}}
                                </li>
                                <li>
                                    <label>Email:</label>
                                    {{form.email}}
                                </li>
                            </ul>
                            <ul class="form last">
                                <li style="display: none">
                                    <label>Pk:</label>
                                    {{form.pk}}                                    
                                </li>
                                <li>
                                    <fieldset>
                                        <label>Active status:</label>
                                        <div style="display: inline-block;margin-right: 20px;">
                                            <label for="id_active">Active</label>
                                            <input type="radio" id="id_active" name="status" value="Active" {% if form.status.value == "Active" %}checked="checked"{% endif %}>
                                        </div>
                                        <div style="display: inline-block">
                                            <label for="id_inactive">Inactive</label>
                                            <input type="radio" id="id_inactive" name="status" value="Inactive" {% if form.status.value == "Inactive" %}checked="checked"{% endif %}>
                                        </div>
                                    </fieldset>
                                    <fieldset style="margin-top: 10px;">
                                        <label>Role:</label>
                                        <div style="display: inline-block;margin-right: 20px;">
                                            <label for="id_worker">Worker</label>
                                            <input type="radio" id="id_worker" name="role" value="Worker" {% if form.role.value == "Worker" %}checked="checked"{% endif %}>
                                        </div>
                                        <div style="display: inline-block">
                                            <label for="id_admin">Admin</label>
                                            <input type="radio" id="id_admin" name="role" value="Admin" {% if form.role.value == "Admin" %}checked="checked"{% endif %}>
                                        </div>
                                    </fieldset>         
                                </li>
                            </ul>
                            <div class="buttons">
                                <div class="inner">
                                    <input type="submit" class="btn green" value="Save">
                                    <a href="/members/delete_member?pk={{form.pk.value}}" class="btn red" style="line-height: 25px">Delete</a>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <ul>
                {% if page_number != 1 %}
                    <li class="last">
                        <a href="{% url 'members:members' %}?page_number={{previous_page}}">Previous</a>
                    </li>
                {% else %}
                {% endif %}

                {% for i in list_of_pages %}
                    <li>
                        {% if i != page_number %}
                            <a href="{% url 'members:members' %}?page_number={{i}}">{{i}}</a>
                        {% else %}
                            <u><a href="{% url 'members:members' %}?page_number={{i}}">{{i}}</a></u>
                        {% endif %}
                    </li>
                {% endfor %}

                {% if page_number != number_of_pages %}
                    <li class="last">
                        <a href="{% url 'members:members' %}?page_number={{next_page}}">Next</a>
                    </li>
                {% else %}
                {% endif %}
            </ul>
        </div>        
    </section>			
</div>
{%endblock%}
{% block open_headings %}
<script>
    function openProject(element) {
        let headings = document.querySelectorAll(".item.open");
        let details = document.querySelectorAll(".details");

        for (let i = 0; i < headings.length; i++){
            headings[i].classList = "item";
        }

        for (let i = 0; i < details.length; i++){
            details[i].style.display = "none";
        }        
        
        element.classList.add("open");
        element.children[1].style.display = "block"  
        }
</script>
{% endblock %}